.main-info-wrapper{
    display: flex;
    flex-wrap: wrap;
    background-color: #673ab7;
}
.photo-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.main-photo{
    background-image: url(../../../../../assets/i/main-photo.jpg);
    width: 50px;
    height: 50px;
}