.toolbar{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.title{
    display: flex;
    width: 8%;
}
.flex-spacer {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}